NEXT_PUBLIC_SUPABASE_URL=https://xpsfrmpidyylwqfealev.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhwc2ZybXBpZHl5bHdxZmVhbGV2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTczMjI2OTAsImV4cCI6MjA3Mjg5ODY5MH0.w1tgT-0mcBnLp5fgLg6jULtNDwhcTYtABA7NTJLEOB8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhwc2ZybXBpZHl5bHdxZmVhbGV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NzMyMjY5MCwiZXhwIjoyMDcyODk4NjkwfQ.sZTqlJ7w-yMoev5Nx3ftkOFx4M9zM6r5ArftiHojzck
GEMINI_API_KEY=AIzaSyBz2HrrJmEZXIIJ9krnMxJbpj47e51miUE
